header {
    text-align: center;
    background-color: black;
    color: chartreuse;
    height: flex;
    font-size: 40px;
    z-index: 0;
    top: 0;
    width: 100%;
  }
  .container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
  }
  body {
    background-color: black;
  }
  p {
    color:aquamarine;
    font-size: xx-large;
  }
  img {
    height: 200px;
  }
  .container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 60px;
    
  }
  #button {
    font-size: x-large;
    color: chocolate;
  }
  #score1 {
    color: aqua;
    font-size: x-large;
  }
  #score2 {
    color: aqua;
    font-size: x-large;
  }
  #display {
    color: rgb(255, 0, 119);
    font-size: x-large;
    align-self: center;
  }
  input {
    font-size: x-large;
    width:auto;
  }
  
  #start{
    font-size: xx-large;
    color: red;
  }
  #continue{
    font-size: xx-large;
    color: red;
  }
  #winner{
    font-size: xx-large;
    color: red;
  }
  #quit{
    font-size: xx-large;
    color: red;
  }
  #finaltext{
    color:aqua
  }
  #result{
    color:aqua
  }