header {
    text-align: center;
    background-color: black;
    color: chartreuse;
    height: flex;
    font-size: 40px;
    z-index: 0;
    top: 0;
    width: 100%;
  }
  .container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
  }
  body {
    background-color: black;
  }
  p {
    color: white;
    font-size: xx-large;
  }
  img {
    height: 200px;
  }
  .container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 60px;
  }
  #button {
    font-size: x-large;
    color: chocolate;
  }
  #score1 {
    color: blue;
    font-size: x-large;
  }
  #score2 {
    color: blue;
    font-size: x-large;
  }
  #display {
    color: blue;
    font-size: x-large;
    align-self: center;
  }
  